In [28]:
import pandas as pd
import numpy as np
import glob as glob
from collections import Counter
from tabulate import tabulate

In [29]:
df_pre_test = pd.read_csv('datasets/pre_test_combined_with_label.csv')
df_test = pd.read_csv('datasets/dse_exam_cleaned_with_label.csv')

df_pre_test = df_pre_test.drop(['Unnamed: 0'], axis=1) # drop unnamed column
df_test = df_test.drop(['Unnamed: 0'], axis=1) # drop unnamed column

### *Note: There is no duplicated data in Pre-test*

In [30]:
# Clean Pre-test Dataset
df_pre_test['name'] = df_pre_test['First name'] +' '+ df_pre_test['Surname']
df_pre_test['name'] = df_pre_test['name'].str.replace(r'\s+', ' ', regex=True).str.strip()
df_pre_test['name'] = df_pre_test['name'].str.replace('\u200b', '')

df_pre_test = df_pre_test.sort_values(by='name')
df_pre_test

,Surname,First name,Email address,State,Started on,Completed,Time taken,Grade/100.00,Q. 1 /1.25,Q. 2 /1.25,...,Q. 73 /1.25,Q. 74 /1.25,Q. 75 /1.25,Q. 76 /1.25,Q. 77 /1.25,Q. 78 /1.25,Q. 79 /1.25,Q. 80 /1.25,label,name
2168,VANNA,AM,amvanna77@gmail.com,Finished,29 July 2022 8:52 AM,29 July 2022 9:50 AM,58 mins 18 secs,42.52,1.25,0.25,...,1.25,0.00,1.25,0.50,0.42,0.42,0.00,0.00,Failed,AM VANNA
2890,VEASNA,AM,dse_22_4607@idg.edu.kh,Finished,12 August 2022 3:57 PM,12 August 2022 5:15 PM,1 hour 18 mins,48.00,1.25,1.25,...,0.75,0.42,1.25,0.83,0.63,0.00,0.00,1.25,Failed,AM VEASNA
846,SAMSUPHIN,AN,dse_22_4193@idg.com,Finished,2 August 2022 10:10 AM,2 August 2022 11:18 AM,1 hour 8 mins,40.71,1.25,1.25,...,0.75,1.25,1.25,0.83,1.25,0.00,0.00,0.00,Failed,AN SAMSUPHIN
873,KIMHENG,ANG,lmhong7@gmail.com,Finished,2 August 2022 10:23 AM,2 August 2022 11:43 AM,1 hour 20 mins,40.08,1.25,1.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Failed,ANG KIMHENG
2448,MENGHUOTH,ANG,angmenghout11@gmail.com,Finished,15 August 2022 3:06 PM,15 August 2022 4:26 PM,1 hour 20 mins,76.42,1.25,0.00,...,1.25,1.25,0.63,1.25,0.83,1.25,0.00,1.25,Passed,ANG MENGHUOTH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,ដាលីស,ឯក,edalispg2n78@era.gov.kh,Finished,22 July 2022 8:11 PM,22 July 2022 8:59 PM,47 mins 20 secs,34.04,0.75,0.00,...,0.83,0.00,1.25,0.50,0.42,0.00,1.25,0.00,Failed,ឯក ដាលីស
1574,ផាណិត,ឯក,012622908@gmail.com,Finished,24 May 2023 10:04 AM,24 May 2023 11:08 AM,1 hour 4 mins,41.69,1.25,0.83,...,1.25,1.25,1.25,0.50,0.83,0.83,1.25,0.00,Failed,ឯក ផាណិត
273,ផៅសិរីសិរីបុត្រ,ឯកសារន្ត,epserybothh12n34@era.gov.kh,Finished,22 July 2022 1:40 PM,22 July 2022 2:41 PM,1 hour 1 min,60.75,1.25,1.25,...,1.25,0.00,1.25,1.00,1.25,1.25,0.00,1.25,Passed,ឯកសារន្ត ផៅសិរីសិរីបុត្រ
95,វណ្ណវ៉ារីណែត,ឯម,evanvarinethpg1n36@era.gov.kh,Finished,22 July 2022 8:33 AM,22 July 2022 9:51 AM,1 hour 18 mins,23.17,0.00,1.25,...,0.42,0.00,1.25,0.00,0.00,0.00,0.00,0.00,Failed,ឯម វណ្ណវ៉ារីណែត
1382,ឆវ៉ាន់,ឳ,0967329667@DSEmowa23.com,Finished,9 April 2023 10:22 AM,9 April 2023 11:42 AM,1 hour 20 mins,37.08,1.25,1.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Failed,ឳ ឆវ៉ាន់

In [31]:
# Clean Test Dataset
df_test['name'] = df_test['First name'] + ' ' +df_test['Surname']
df_test['name'] = df_test['name'].str.replace(r'\s+', ' ', regex=True).str.strip()
df_test['name'] = df_test['name'].str.replace('\u200b', '')

df_test = df_test.sort_values(by='name')
df_test

,Surname,First name,Email address,State,Started on,Completed,Time taken,Grade/100.00,Q. 1 /1.00,Q. 2 /1.00,...,Q. 93 /1.00,Q. 94 /1.00,Q. 95 /1.00,Q. 96 /1.00,Q. 97 /1.00,Q. 98 /1.00,Q. 99 /1.00,Q. 100 /1.00,label,name
1972,Chantra,BE,chantra.be@niptict.edu.kh,Finished,2022-03-05 10:19:00,2022-03-05 11:39:00,1 hour 20 mins,75.90,1.0,0.0,...,1.0,0.0,1.00,1.00,0.5,0.0,1.0,1.00,Passed,BE Chantra
1959,PISAL,CHANTY,pisal.chanty@cadt.edu.kh,Finished,2022-03-04 18:08:00,2022-03-04 19:31:00,1 hour 23 mins,89.48,1.0,1.0,...,1.0,1.0,1.00,1.00,1.0,1.0,1.0,1.00,Passed,CHANTY PISAL
1923,SOCHEAT,CHEA,socheat.chea@cadt.edu.kh,Finished,2022-02-16 15:00:00,2022-02-16 16:54:00,1 hour 53 mins,85.13,1.0,0.0,...,1.0,1.0,1.00,1.00,1.0,1.0,0.0,1.00,Passed,CHEA SOCHEAT
1970,Mara,Chea,cheamara.kh@gmail.com,Finished,2022-03-05 10:14:00,2022-03-05 11:15:00,1 hour,47.94,0.0,0.0,...,1.0,0.0,1.00,0.00,1.0,0.0,0.0,1.00,Failed,Chea Mara
1920,Rithya,Cheng,rithya.cheng@niptict.edu.kh,Finished,2022-02-16 12:14:00,2022-02-16 13:30:00,1 hour 16 mins,78.88,1.0,1.0,...,0.0,1.0,0.00,1.00,1.0,1.0,1.0,0.00,Passed,Cheng Rithya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,ផៅសិរីសិរីបុត្រ,ឯកសារន្ត,D220558@DSEERA22.com,Finished,2022-12-30 15:12:00,2022-12-30 17:06:00,1 hour 54 mins,81.30,0.0,1.0,...,1.0,1.0,0.00,1.00,0.0,1.0,1.0,1.00,Passed,ឯកសារន្ត ផៅសិរីសិរីបុត្រ
442,វណ្ណវ៉ារីណែត,ឯម,D220717@DSEERA22.com,Finished,2022-12-28 10:27:00,2022-12-28 12:20:00,1 hour 52 mins,35.76,1.0,0.0,...,0.0,0.0,0.17,0.17,0.0,0.0,0.0,0.17,Failed,ឯម វណ្ណវ៉ារីណែត
890,ហ្វ៊ីណង់,ឯម,dp231578@DSEPROVINCE23.com,Finished,2023-03-15 09:44:00,2023-03-15 11:19:00,1 hour 34 mins,38.88,0.0,1.0,...,1.0,1.0,0.00,0.00,1.0,0.0,0.0,0.00,Failed,ឯម ហ្វ៊ីណង់
1086,មុន្នីស័ក,ឱ,dp231753@DSEPROVINCE23.com,Finished,2023-03-22 13:13:00,2023-03-22 15:12:00,1 hour 59 mins,65.95,1.0,1.0,...,0.0,1.0,0.00,1.00,1.0,0.0,0.0,1.00,Passed,ឱ មុន្នីស័ក
1101,អាន,ឱ,dp231798@DSEPROVINCE23.com,Finished,2023-03-22 13:31:00,2023-03-22 15:31:00,2 hours,25.81,1.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,Failed,ឱ អាន

In [32]:
# Find Duplicated Rows
duplicated_rows = df_test[df_test.duplicated(keep=False)]
print("Double Duplicated Rows :", len(duplicated_rows))
print("Unique Duplicated :", len(duplicated_rows['name'].unique()))

Double Duplicated Rows : 348
Unique Duplicated : 174

In [33]:
# duplicated_rows

In [34]:
duplicated_rows = duplicated_rows[duplicated_rows.duplicated(keep='first')]
duplicated_rows.to_csv('duplicated_data.csv') # Save duplicated data to a csv file

In [35]:
# Remove duplicated rows
df_no_duplicates = df_test.drop_duplicates(keep='first')
print("DataFrame without Duplicates:")

df_test = df_no_duplicates
df_test

DataFrame without Duplicates:

,Surname,First name,Email address,State,Started on,Completed,Time taken,Grade/100.00,Q. 1 /1.00,Q. 2 /1.00,...,Q. 93 /1.00,Q. 94 /1.00,Q. 95 /1.00,Q. 96 /1.00,Q. 97 /1.00,Q. 98 /1.00,Q. 99 /1.00,Q. 100 /1.00,label,name
1972,Chantra,BE,chantra.be@niptict.edu.kh,Finished,2022-03-05 10:19:00,2022-03-05 11:39:00,1 hour 20 mins,75.90,1.0,0.0,...,1.0,0.0,1.00,1.00,0.5,0.0,1.0,1.00,Passed,BE Chantra
1959,PISAL,CHANTY,pisal.chanty@cadt.edu.kh,Finished,2022-03-04 18:08:00,2022-03-04 19:31:00,1 hour 23 mins,89.48,1.0,1.0,...,1.0,1.0,1.00,1.00,1.0,1.0,1.0,1.00,Passed,CHANTY PISAL
1923,SOCHEAT,CHEA,socheat.chea@cadt.edu.kh,Finished,2022-02-16 15:00:00,2022-02-16 16:54:00,1 hour 53 mins,85.13,1.0,0.0,...,1.0,1.0,1.00,1.00,1.0,1.0,0.0,1.00,Passed,CHEA SOCHEAT
1970,Mara,Chea,cheamara.kh@gmail.com,Finished,2022-03-05 10:14:00,2022-03-05 11:15:00,1 hour,47.94,0.0,0.0,...,1.0,0.0,1.00,0.00,1.0,0.0,0.0,1.00,Failed,Chea Mara
1920,Rithya,Cheng,rithya.cheng@niptict.edu.kh,Finished,2022-02-16 12:14:00,2022-02-16 13:30:00,1 hour 16 mins,78.88,1.0,1.0,...,0.0,1.0,0.00,1.00,1.0,1.0,1.0,0.00,Passed,Cheng Rithya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,ផៅសិរីសិរីបុត្រ,ឯកសារន្ត,D220558@DSEERA22.com,Finished,2022-12-30 15:12:00,2022-12-30 17:06:00,1 hour 54 mins,81.30,0.0,1.0,...,1.0,1.0,0.00,1.00,0.0,1.0,1.0,1.00,Passed,ឯកសារន្ត ផៅសិរីសិរីបុត្រ
442,វណ្ណវ៉ារីណែត,ឯម,D220717@DSEERA22.com,Finished,2022-12-28 10:27:00,2022-12-28 12:20:00,1 hour 52 mins,35.76,1.0,0.0,...,0.0,0.0,0.17,0.17,0.0,0.0,0.0,0.17,Failed,ឯម វណ្ណវ៉ារីណែត
890,ហ្វ៊ីណង់,ឯម,dp231578@DSEPROVINCE23.com,Finished,2023-03-15 09:44:00,2023-03-15 11:19:00,1 hour 34 mins,38.88,0.0,1.0,...,1.0,1.0,0.00,0.00,1.0,0.0,0.0,0.00,Failed,ឯម ហ្វ៊ីណង់
1086,មុន្នីស័ក,ឱ,dp231753@DSEPROVINCE23.com,Finished,2023-03-22 13:13:00,2023-03-22 15:12:00,1 hour 59 mins,65.95,1.0,1.0,...,0.0,1.0,0.00,1.00,1.0,0.0,0.0,1.00,Passed,ឱ មុន្នីស័ក
1101,អាន,ឱ,dp231798@DSEPROVINCE23.com,Finished,2023-03-22 13:31:00,2023-03-22 15:31:00,2 hours,25.81,1.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,Failed,ឱ អាន

In [36]:
pre_test_name = np.array(df_pre_test['name'])
print("Amount of Pre-text Examinees:", pre_test_name.size)

Amount of Pre-text Examinees: 3064

In [37]:
test_name = np.array(df_test['name'])
test_name.size
print("Amount of Certificated Exam Examinees:", test_name.size)

Amount of Certificated Exam Examinees: 2068

In [38]:
mapped_name = []
for name in pre_test_name:
    if(name in test_name):
        mapped_name.append(name)

In [39]:
mapped_name = np.array(mapped_name)
mapped_name.size

691

In [40]:
df_test = df_test[df_test['name'].isin(mapped_name)]
# df_test
df_test['pre_test_score'] = None
# df_test

/var/folders/dt/90w7dnxx5xzfd7px48yrrpt00000gn/T/ipykernel_15868/2333879322.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['pre_test_score'] = None

In [41]:
for name in mapped_name:
    pre_test_score = df_pre_test[df_pre_test['name'] == name]['Grade/100.00'].values[0]
    # print(name, pre_test_score)
    df_test.loc[df_test['name']==name, 'pre_test_score'] = pre_test_score
    # break

In [42]:
df_test = df_test[['name', 'Email address','pre_test_score', 'Grade/100.00']]
df_test['diff'] = df_test['Grade/100.00'] - df_test['pre_test_score']
# df_test

## Check Improvement ALL

In [43]:
# df_test = df_test[df_test['Grade/100.00'] >= 60]
df_test.loc[df_test['diff'] >= 0, 'improvement'] = True
df_test.loc[df_test['diff'] < 0, 'improvement'] = False
df_test

,name,Email address,pre_test_score,Grade/100.00,diff,improvement
1020,NHET TOU,nhettou.math@gmail.com,53.65,57.71,4.06,True
825,កង ចន្នី,dp23410@DSEPROVINCE23.com,34.94,48.18,13.24,True
229,កាំង សុផាន់ណា,D220129@DSEERA22.com,40.75,54.32,13.57,True
375,កឹម តុលា,D220570@DSEERA22.com,20.52,62.52,42.0,True
820,កឹម សៀករតនៈ,dp23411@DSEPROVINCE23.com,39.63,72.72,33.09,True
...,...,...,...,...,...,...
866,អ៊ុំ សុធា,dp23467@DSEPROVINCE23.com,48.42,74.66,26.24,True
443,អ៊ួង សារុន,D220729@DSEERA22.com,11.25,34.54,23.29,True
808,ឯក ដាលីស,D220357@DSEERA22.com,34.04,45.52,11.48,True
760,ឯកសារន្ត ផៅសិរីសិរីបុត្រ,D220558@DSEERA22.com,60.75,81.30,20.55,True
442,ឯម វណ្ណវ៉ារីណែត,D220717@DSEERA22.com,23.17,35.76,12.59,True

In [44]:
print("Average Improvement Score : ", df_test['diff'].mean())

Average Improvement Score :  16.464519368723085

In [45]:
improvement = Counter(np.array(df_test['improvement']))
improvement

Counter({True: 633, False: 64})

In [46]:
# Calculate the total number of observations
total_observations = sum(improvement.values())

# Calculate the probability of each outcome
probabilities = {outcome: count / total_observations for outcome, count in improvement.items()}

# Display the result
for outcome, probability in probabilities.items():
    print(f"Outcome: {outcome}, Probability: {probability:.2%}")

Outcome: True, Probability: 90.82%
Outcome: False, Probability: 9.18%

## Check Improvement PASSED Only

In [47]:
df_test_passed = df_test[df_test['Grade/100.00'] >= 60]
df_test_passed.loc[df_test_passed['diff'] >= 0, 'improvement'] = True
df_test_passed.loc[df_test_passed['diff'] < 0, 'improvement'] = False

improvement = Counter(np.array(df_test_passed['improvement']))
improvement

# Calculate the total number of observations
total_observations = sum(improvement.values())

# Calculate the probability of each outcome
probabilities = {outcome: count / total_observations for outcome, count in improvement.items()}

# Display the result
for outcome, probability in probabilities.items():
    print(f"Outcome: {outcome}, Probability: {probability:.2%}")

Outcome: True, Probability: 95.81%
Outcome: False, Probability: 4.19%

In [48]:
print("Average Improvement Score : ", df_test_passed['diff'].mean())

Average Improvement Score :  19.177290322580642

In [49]:
df_test_passed

,name,Email address,pre_test_score,Grade/100.00,diff,improvement
375,កឹម តុលា,D220570@DSEERA22.com,20.52,62.52,42.0,True
820,កឹម សៀករតនៈ,dp23411@DSEPROVINCE23.com,39.63,72.72,33.09,True
205,កុយ ថារី,D220137@DSEERA22.com,38.46,60.35,21.89,True
586,កេត មេសា,D220368@DSEERA22.com,52.42,68.73,16.31,True
569,កែវ ច័ន្ទរ៉ានិច,D220369@DSEERA22.com,58.42,74.92,16.5,True
...,...,...,...,...,...,...
781,អ៊ុន សាវន,D220351@DSEERA22.com,41.83,60.17,18.34,True
799,អ៊ុយ សុភ័ក្ដ្រ,D220365@DSEERA22.com,48.71,64.89,16.18,True
783,អ៊ុំ ពុទ្ធាវី,D220337@DSEERA22.com,43.06,66.53,23.47,True
866,អ៊ុំ សុធា,dp23467@DSEPROVINCE23.com,48.42,74.66,26.24,True
760,ឯកសារន្ត ផៅសិរីសិរីបុត្រ,D220558@DSEERA22.com,60.75,81.30,20.55,True

## Check Improvement FAILED Only

In [50]:
df_test_failed = df_test[df_test['Grade/100.00'] < 60]
df_test_failed.loc[df_test_failed['diff'] >= 0, 'improvement'] = True
df_test_failed.loc[df_test_failed['diff'] < 0, 'improvement'] = False

improvement = Counter(np.array(df_test_failed['improvement']))
improvement

# Calculate the total number of observations
total_observations = sum(improvement.values())

# Calculate the probability of each outcome
probabilities = {outcome: count / total_observations for outcome, count in improvement.items()}

# Display the result
for outcome, probability in probabilities.items():
    print(f"Outcome: {outcome}, Probability: {probability:.2%}")

Outcome: True, Probability: 86.82%
Outcome: False, Probability: 13.18%

In [51]:
print("Average Improvement Score : ", df_test_failed['diff'].mean())

Average Improvement Score :  14.29149870801034

In [52]:
df_test_failed

,name,Email address,pre_test_score,Grade/100.00,diff,improvement
1020,NHET TOU,nhettou.math@gmail.com,53.65,57.71,4.06,True
825,កង ចន្នី,dp23410@DSEPROVINCE23.com,34.94,48.18,13.24,True
229,កាំង សុផាន់ណា,D220129@DSEERA22.com,40.75,54.32,13.57,True
364,កឺម វណ្ណហ្វីដែល,D220571@DSEERA22.com,0.0,52.83,52.83,True
1268,កុយ វិច្ឆានី,dp233002@DSEPROVINCE23.com,32.56,40.75,8.19,True
...,...,...,...,...,...,...
796,អ៊ុច សុភ័ក្ដ្រ,D220364@DSEERA22.com,33.71,52.96,19.25,True
432,អ៊ុយ ធីដែន,D220728@DSEERA22.com,26.81,42.10,15.29,True
443,អ៊ួង សារុន,D220729@DSEERA22.com,11.25,34.54,23.29,True
808,ឯក ដាលីស,D220357@DSEERA22.com,34.04,45.52,11.48,True
442,ឯម វណ្ណវ៉ារីណែត,D220717@DSEERA22.com,23.17,35.76,12.59,True